<div id="<%= dom_id objective_question %>">

  <strong><%= objective_question.type_question %>:</strong>
  <strong><%= objective_question.description %></strong>
  <%= objective_question.answer %>
  <br>

</div>
