<h1>Editing objective question</h1>

<%= render "form", objective_question: @objective_question %>

<br>

<div>
  <%= link_to "Show this objective question", @objective_question %> |
  <%= link_to "Back to objective questions", objective_questions_path %>
</div>
