<h1>New question for: <%= @objective.title %></h1>

<%= render "form", objective_question: @objective_question %>

<br>

<div>
  <%= link_to "Back to objective questions", objective_objective_questions_path %>
</div>
