<h1><%= t('purposes.edit.edit_purpose') %></h1>

<%= render "form", purpose: @purpose %>

<br>

<div>
  <%= link_to t('purposes.edit.show'), @purpose %> |
  <%= link_to t('purposes.edit.back'), purposes_path %>
</div>
