<h1><%= t('views.edit.title_label') %>:</h1>
<hr>
<br>
<%= render 'form' %>
<br>  
<br>

<%= link_to t('views.edit.show_this_routine'), routine_path(@routine.id) %> |
<%= link_to t('views.edit.back_to_routines'), routines_path %>