<a href="<%= routines_path %>">Voltar para Lista de Rotinas</a>
<h1>Cadastrar nova Routine:</h1>
<hr>
<br>
<%= render 'form', model: @routine, url: routines_create_path, local: true, method: 'post', button_text: 'Criar Rotina' %>