<h1><%= t('script.script_questions.edit.title') %></h1>
<%= render 'form', script_question: @script_question %>
<%= link_to t('script.script_questions.edit.show'), script_script_question_path(@script_question.script, @script_question) %> |
<%= link_to t('script.script_questions.edit.back'), script_path(@script_question.script) %>
