<h1>Edit Question</h1>
<%= render 'form', script_question: @script_question %>
<%= link_to 'Show', script_script_question_path(@script_question.script, @script_question) %> |
<%= link_to 'Back', script_path(@script_question.script) %>
