<p style="color: green"><%= notice %></p>

<h1><%= t('purposes_question.index.tittle') %></h1>

<div id="purpose_questions">
  <div id="purpose_questions">
    <%= render @purpose_questions %>
  </div>
</div>

<%= link_to t('purposes_question.index.new'), new_purpose_purpose_question_path %>












