<div id="<%= dom_id interview %>">
  <p>
    <strong>Interview type:</strong>
    <%= interview.interview_type %>
  </p>

  <p>
    <strong>Video number:</strong>
    <%= interview.video_number %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= interview.answer %>
  </p>

</div>
