<h1>Editing interview</h1>

<%= render "form", interview: @interview %>

<br>

<div>
  <%= link_to "Show this interview", @interview %> |
  <%= link_to "Back to interviews", interviews_path %>
</div>
