<p>
  <strong>Task:</strong>
  <%= micro_goal_task.task %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= micro_goal_task.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= micro_goal_task.end_date %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= micro_goal_task.percentage %>
</p>
