<p>
  <strong>Task:</strong>
  <%= task.task %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= task.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= task.end_date %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= task.percentage %>
</p>
