<h3>Edit Preparations Issue</h3>
<%= render 'form', preparation: @preparation, preparations_release: @preparations_release, preparations_issue: @preparations_issue %>
<%= link_to 'Show', preparation_preparations_release_preparations_issue_path(@preparation, @preparations_release, @preparations_issue) %> |
<%= link_to 'Back', preparation_preparations_release_preparations_issues_path(@preparation, @preparations_release) %>
