<h1>New Preparation Issue</h1>
<%= render 'form', preparation_issue: @preparation_issue %>
<%= link_to 'Back', preparation_preparation_release_preparation_issues_path(@preparation, @preparation_release) %>
