<h1>Portfolios</h1>

<ul>
  <% @portfolios.each do |portfolio| %>
    <li><%= link_to portfolio.name, portfolio_path(portfolio) %></li>
  <% end %>
</ul>

<%= link_to 'New Portfolio', new_portfolio_path %>
