<h1>Edit Portfolio Release</h1>

<%= render 'form' %>

<%= link_to 'Show', portfolio_portfolio_release_path(@portfolio, @portfolio_release) %> |
<%= link_to 'Back', portfolio_portfolio_releases_path(@portfolio) %>
