<h1><%= t('portfolio_releases.edit.title') %></h1>

<%= render 'form' %>

<%= link_to t('.show'), portfolio_portfolio_release_path(@portfolio, @portfolio_release) %> |
<%= link_to t('.back'), portfolio_portfolio_releases_path(@portfolio) %>