<h1>Editing objective</h1>

<%= render "form", objective: @objective %>

<br>

<div>
  <%= link_to "Show this objective", @objective %> |
  <%= link_to "Back to objectives", objectives_path %>
</div>
