<h1><%= I18n.t('objective.edit_view.title') %></h1>

<%= render "form", objective: @objective, locals: { action: 'update' } %>

<br>

<div>
  <%= link_to I18n.t('objective.show'), @objective %> |
  <%= link_to I18n.t('objective.back'), objectives_path %>
</div>
