<h1>Edit Tests Issue</h1>
<%= render 'form', tests_issue: @tests_issue %>
<%= link_to 'Show', [@test, @tests_battle, @tests_issue] %> |
<%= link_to 'Back', test_tests_battle_tests_issues_path(@test, @tests_battle) %>
