<h1>Tests Issue</h1>
<p><strong>Issue Link:</strong> <%= @tests_issue.issue_link %></p>
<p><strong>Pull Request Link:</strong> <%= @tests_issue.pull_request_link %></p>

<%= link_to 'Edit', edit_test_tests_battle_tests_issue_path(@test, @tests_battle, @tests_issue) %> |
<%= link_to 'Back', test_tests_battle_tests_issues_path(@test, @tests_battle) %>
