<h1>Editing course basic</h1>

<%= render "form", course_basic: @course_basic %>

<br>

<div>
  <%= link_to t('course_basics.view.show_course_basic'), [@course, @course_basic] %> |
  <%= link_to t('course_basics.view.back_to_courses'), course_course_basics_path(@course) %>
</div>
