<h1><%= t('preparation.edit.title') %></h1>

<%= render 'form', preparation: @preparation %>

<%= link_to t('preparation.edit.show'), @preparation %> |
<%= link_to t('preparation.edit.back'), preparations_path %>
