<h1><%= t('goal_question.edit.edit_goal_question') %>:</h1>
<hr>
<%= render "form", goal_question: @goal_question, button_label: t("goal_question.edit.update") %>

<br>

<div>
  <%= link_to t("goal_question.edit.show_this_goal_question"), goal_goal_question_path %> |
  <%= link_to t("goal_question.edit.back_to_goal_questions"), goal_goal_questions_path %>
</div>
