<h1>Editing goal question</h1>

<%= render "form", goal_question: @goal_question %>

<br>

<div>
  <%= link_to "Show this goal question", @goal_question %> |
  <%= link_to "Back to goal questions", goal_questions_path %>
</div>
