<h1>Issue details</h1>
<p>Issue Link: <%= @portfolio_issue.issue_link %></p>
<p>Pull Request Link: <%= @portfolio_issue.pull_request_link %></p>

<%= link_to 'Edit', edit_portfolio_portfolio_release_portfolio_issue_path(@portfolio, @portfolio_release, @portfolio_issue) %> |
<%= link_to 'Back', portfolio_portfolio_release_path(@portfolio, @portfolio_release) %>
