<h1><%= t('views.micro_goal_tasks.new.new_task_title') %>:</h1>
<hr>

<%= render 'form' %>
<hr>

<%= link_to t('views.micro_goal_tasks.new.back_to_tasks'), micro_goal_micro_goal_tasks_path(@micro_goal) %>
