<div id="<%= dom_id interview_video %>">

  <p>
    <strong><%= I18n.t('activerecord.attributes.interview_video.video_link') %>:</strong>
    <%= link_to interview_video.video_link, interview_video.video_link, target: '_blank' %>
  </p>

</div>
