<div id="<%= dom_id interview_video %>">
  <p>
    <strong>Interview:</strong>
    <%= interview_video.interview_id %>
  </p>

  <p>
    <strong>Video link:</strong>
    <%= interview_video.video_link %>
  </p>

</div>
