<h1>Editing interview video</h1>

<%= render "form", interview_video: @interview_video %>

<br>

<div>
  <%= link_to "Show this interview video", interview_interview_video_path %> |
  <%= link_to "Back to interview videos", interview_interview_videos_path %>
</div>
