<p style="color: green"><%= notice %></p>

<h1>Interview videos</h1>

<div id="interview_videos">
  <% @interview_videos.each do |interview_video| %>
    <%= render interview_video %>
    <p>
      <%= link_to "Show this interview video", interview_video %>
    </p>
  <% end %>
</div>

<%= link_to "New interview video", new_interview_video_path %>
