<h1><%= t("technical_test.edit.title") %></h1>

<%= render 'form', technical_test: @technical_test, locals: { action: 'update' } %>

<%= link_to t("technical_test.edit.show"), @technical_test %> |
<%= link_to t("technical_test.edit.back"), technical_tests_path %>
