<p style="color: green"><%= t('views.index.notice') %></p>

<h1>Pensamentos:</h1>
<hr>

<div id="thoughts">
  <% @thoughts.each do |thought| %>
    <%= render thought %>
    <p>
      <%= link_to t('views.index.show_this_thought'), thought %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to t('views.index.new_thought'), new_thought_path %>
