<p style="color: green"><%= notice %></p>

<!--<h1>Thoughts:</h1>-->
<!--<hr>-->

<div id="thoughts">
  <% @thoughts.each do |thought| %>
    <%= render thought %>
    <p>
      <%= link_to t('views.thoughts.index.show_this_thought'), thought %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to t('views.thoughts.index.new_thought'), new_thought_path %>
