<h2>Edit Preparations Release</h2>
<%= render 'form', preparation: @preparation, preparations_release: @preparations_release %>
<%= link_to 'Show', preparation_preparations_release_path(@preparation, @preparations_release) %> |
<%= link_to 'Back', preparation_preparations_releases_path(@preparation) %>
