<h1>Edit Preparation Release</h1>
<%= render 'form', preparation_release: @preparation_release %>
<%= link_to 'Show', preparation_preparation_release_path(@preparation, @preparation_release) %> |
<%= link_to 'Back', preparation_preparation_releases_path(@preparation) %>
