<h2><%= t('preparation_release.edit.title') %></h2>
<%= render 'form', preparation: @preparation, preparations_release: @preparations_release %>
<%= link_to t('preparation_release.edit.show'), preparation_preparations_release_path(@preparation, @preparations_release) %> |
<%= link_to t('preparation_release.edit.back'), preparation_preparations_releases_path(@preparation) %>
